@model KursachTP.Models.User
 
<style>
    body {
        background-color: lightblue;
    }
    form {
        font-size: 15px;
        display: inline-block;
        background-color: white;
        padding: 10px 60px;
        border-radius: 8px;
    }
</style>

<h2>Регистрация на нашем сайте</h2>

<form asp-antiforgery="true" asp-action="Str" asp-controller="Home">
    <div>
        <div>
            <label asp-for="Name"></label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="LastName"></label><br />
            <input type="text" asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="UserDescription"></label><br />
            <input asp-for="UserDescription" />
            <span asp-validation-for="UserDescription"></span>
        </div>
        <div>
            <label asp-for="Birthday"></label><br />
            <input asp-for="Birthday" type="datetime"/>
            <span asp-validation-for="Birthday"></span>
        </div>
        <div>
            <label asp-for="Login"></label><br />
            <input id="pol" name="pol" type="radio" value="true" />
            <span>Мужчина</span> <br />
            <input id="pol" name="pol" type="radio" value="false" />
            <span>Женщина</span> <br />

        </div>
        <div>
            <label asp-for="Login"></label><br />
            <input asp-for="Login" />
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="Phone"></label><br />
            <input asp-for="Phone" />
            <span asp-validation-for="Phone"></span>
        </div>
        <br />
        <div>
            <input type="submit" value="Save" />
        </div>
    </div>
</form>
 
@section scripts{
 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
