@{
    ViewData["Title"] = "КЫШШШШШ, нет тут ничего";
}
<style>
    body {
        background-color: #3870ff;
    }

    form {
        font-size: 15px;
        display: inline-block;
        background-color: white;
        padding: 10px 60px;
        border-radius: 8px;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>Страница в разработке.</p>
